// 元件
// card

// circle-card


// button

// main-btn


// main-outline-btn

//secondary-btn
.secondary-btn {
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    color: $white;    
    padding: 8px 32px;
    line-height: 24px;
    color: $white;
}

.text-primary {
    color: $primary;
}