// scss-docs-start theme-color-variables
$primary:       #56C4C5 !default;
$secondary:     #FF5D50 !default;
$black:         #221E1F !default;
$white:         #FFFFFF !default;
$gray:          #F5F5F5 !default;
// scss-docs-end theme-color-variables

// scss-docs-start box-shadow-variables
$box-shadow:  0px 2px 10px #00000014 !default;
// scss-docs-end box-shadow-variables

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight-regular:          400 !default;
$font-weight-bold:            700 !default;

$font-size-base: 4px;  
$font-m: $font-size-base*  4;//預設字型大小

$h1-font-size:                $font-size-base * 1 !default;
$h2-font-size:                $font-size-base * 12 !default; //48px
$h3-font-size:                $font-size-base * 8 !default; //32px
$h4-font-size:                $font-size-base * 6 !default; //24px
$h5-font-size:                $font-size-base * 5 !default; //20px
$h6-font-size:                $font-size-base * 4.5 !default; //18px

$line-height-base:            1.5 !default;
