@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 355px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 376px) {
  .nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .border-bottom {
    border-bottom: 2px solid #FFD153;
  }
}

.logo-img {
  background-image: url(../img/logo.png);
  height: 40px;
  width: 220px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 101%;
  /*首行縮排*/
  overflow: hidden;
  /*自動隱藏超出的文字或圖片*/
  white-space: nowrap;
  /*希望元素在第一排上面，沒有斷行*/
}

@media screen and (max-width: 376px) {
  .logo-img {
    height: 24px;
    width: 130px;
  }
}

.footer {
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: #221E1F;
  font-weight: 400;
}

.top {
  position: fixed;
  right: 5%;
  top: 90%;
}

@media screen and (max-width: 376px) {
  .top {
    position: fixed;
    right: 5%;
    top: 80%;
  }
}

.secondary-btn {
  background: #FF5D50 0% 0% no-repeat padding-box;
  border-radius: 22px;
  color: #FFFFFF;
  padding: 8px 32px;
  line-height: 24px;
  color: #FFFFFF;
}

.body-bg {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg);
  background-position: 1150px 1500px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 376px) {
  .body-bg {
    background-position: 120% 1500px;
    height: 135px;
    background-size: contain;
    z-index: 1000;
  }
}

.header-bg {
  position: relative;
}

.bg_home {
  position: absolute;
  z-index: -1;
  right: 0;
}

@media screen and (max-width: 376px) {
  .bg_home {
    display: none;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-img {
  width: 532px;
}

.banner-h6 {
  color: #56C4C5;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 29px;
  font-weight: 700;
}

.banner-h2 {
  color: #221E1F;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 70px;
  font-weight: 700;
  margin-top: 8px;
}

.banner-h5 {
  color: #221E1F;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 29px;
  font-weight: 400;
  margin-top: 16px;
}

.banner-sm-bg {
  display: none;
}

@media screen and (max-width: 376px) {
  .banner {
    margin-top: 32px;
  }
  .banner-img {
    width: 304px;
    margin: 0 auto;
  }
  .banner-h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .banner-h2 {
    font-size: 32px;
    line-height: 46px;
    margin-top: 8px;
  }
  .banner-h5 {
    font-size: 16px;
    line-height: 29px;
    margin-top: 16px;
  }
  .banner-sm-bg {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    max-width: 334px;
    margin: 0 auto;
  }
}

.ball01 {
  position: absolute;
  left: -15%;
  z-index: -1;
}

.ball03 {
  position: absolute;
  left: -6%;
  top: 10%;
  z-index: -1;
}

@media screen and (max-width: 376px) {
  .ball01 {
    left: -53%;
    top: 103%;
    height: 126px;
  }
  .ball03 {
    position: absolute;
    left: -25%;
    top: 10%;
    z-index: -1;
  }
}

.social {
  margin-top: 100px;
}

.social-h3 {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #221E1F;
  font-weight: 700;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
  margin-top: 48px;
}

.social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.333%;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.social-img {
  width: 90px;
  height: 90px;
}

.social-title {
  margin-top: 24px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #221E1F;
  font-weight: 700;
}

.social-text {
  margin-top: 24px;
  color: #747474;
  line-height: 24px;
  font-weight: 400;
}

@media screen and (max-width: 376px) {
  .social {
    margin-top: 60px;
  }
  .social-h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .social-list {
    margin-right: 0;
    margin-left: 0;
    margin-top: 32px;
  }
  .social-card {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .social-card:not(:first-child) {
    margin-top: 24px;
  }
  .social-img {
    width: 60px;
    height: 60px;
  }
  .social-title {
    margin-top: 16px;
    font-size: 18px;
    line-height: 26px;
  }
  .social-text {
    margin-top: 16px;
    line-height: 24px;
  }
}

.role {
  margin-top: 100px;
  position: relative;
}

.role-h3 {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #221E1F;
  font-weight: 700;
}

.role-h4 {
  text-align: center;
  color: #221E1F;
  line-height: 29px;
  font-size: 20px;
  margin-top: 16px;
  font-weight: 400;
}

.role-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
  margin-top: 48px;
}

.role-card {
  background: #FFFFFF;
  width: 25%;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
}

.role-img {
  border-radius: 12px 12px 0 0;
}

.role-area {
  padding: 16px 16px 24px 16px;
}

.role-title {
  color: #56C4C5;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
}

.role-text {
  color: #221E1F;
  margin-top: 16px;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 376px) {
  .role {
    margin-top: 60px;
  }
  .role-h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .role-h4 {
    line-height: 26px;
    font-size: 18px;
  }
  .role-list {
    margin-top: 32px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .role-card {
    width: 100%;
    margin-right: 8px;
    margin-left: 8px;
  }
  .role-card:not(:first-child) {
    margin-top: 24px;
  }
  .role-title {
    line-height: 24px;
    font-size: 16px;
  }
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-list {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-item {
  width: 50%;
  padding-right: 30px;
}

.products-card {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 32px;
}

.products-introduce {
  width: 39%;
}

.products-icon {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 50%;
  padding: 20px;
  width: 50%;
}

.products-title {
  margin-top: 24px;
  line-height: 26px;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.products-text {
  margin-top: 16px;
  line-height: 24px;
  font-weight: 400;
}

.products-item:nth-child(3), .products-item:nth-child(4) {
  margin-top: 28px;
}

.products-introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
}

.products-h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}

.products-link {
  margin-top: 24px;
}

.products-button {
  padding: 12px 32px;
  background-color: #56C4C5;
  color: #FFFFFF;
  border-radius: 27px;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 18px;
}

.products-button:hover {
  background-color: #2e8687;
}

@media screen and (max-width: 376px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 60px;
  }
  .products-list {
    width: 100%;
  }
  .products-item {
    width: 100%;
    padding-right: 0;
    margin-right: 52px;
    margin-left: 52px;
  }
  .products-item:not(:first-child) {
    margin-top: 24px;
  }
  .products-item:first-child {
    margin-top: 32px;
  }
  .products-introduce {
    width: 100%;
  }
  .products-introduce {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products-h3 {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }
  .products-h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .products-link {
    margin-top: 16px;
  }
}

.evaluation {
  margin-top: 100px;
  position: relative;
}

.evaluation-h3 {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #221E1F;
  font-weight: 700;
}

.evaluation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
  margin-top: 104px;
}

.evaluation-card {
  padding: 48px 32px 24px 32px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  background-color: #FFFFFF;
}

.evaluation-feedback {
  line-height: 24px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 24px;
}

.evaluation-userName {
  font-weight: 700;
  margin-top: 24px;
  line-height: 24px;
}

.evaluation-position {
  line-height: 24px;
}

.evaluation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.evaluation-img {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -60px;
}

@media screen and (max-width: 376px) {
  .evaluation {
    margin-top: 60px;
  }
  .evaluation-h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .evaluation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 0;
    margin-left: 0;
    margin-top: 88px;
  }
  .evaluation-card {
    padding: 48px 16px 16px 16px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .evaluation-card:not(:first-child) {
    display: none;
  }
  .evaluation-userName {
    margin-top: 16px;
    line-height: 8px;
  }
}

.subscription {
  background-image: url(../img/home_footer.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 503px;
  margin-top: 100px;
  padding-top: 260px;
  padding-bottom: 150px;
  text-align: center;
}

.subscription-h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  padding-top: 50px;
}

.subscription-button {
  padding: 12px 32px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
  background-color: #56C4C5;
  margin-top: 48px;
  display: inline-block;
  border-radius: 27px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.subscription-button:hover {
  background-color: #2e8687;
}

@media screen and (max-width: 376px) {
  .subscription {
    background-image: url(../img/home_footer.svg);
    margin-top: 60px;
    padding-top: 293px;
    padding-bottom: 60px;
  }
  .subscription-h3 {
    font-size: 24px;
    line-height: 35px;
    padding-top: 50px;
  }
  .subscription-button {
    margin-top: 24px;
  }
}

.products-header-bg {
  position: relative;
  border-radius: 0px 0px 0px 300px;
  background-color: #F7F9FD;
}
/*# sourceMappingURL=all.css.map */